
body{
	font-family:$base-font-family-sans-serif;
}

//Headings
h1, .title{
	font-size:$h1-font-size;
}

h2, .caption{
	font-size:$h2-font-size;
}

h3{
	font-size:$h3-font-size;
}

p{
	font-size:$p-font-size;
}