$base-font-family-sans-serif:'Muli', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:#fff;
$light-grey:#e0e0e0;
$orange:#ffae00;

//headings
$h1-font-size:60px;
$h2-font-size:35px;
$h3-font-size:20px;

//text
$p-font-size:15px;